
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar img {
    width: 100px;
    height: auto;
}

.navbar a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
    font-size: 16px;
    border: 2px solid transparent;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.navbar a:hover {
    background-color: #d3d3d3;
    color: #333;
    border-color: #bbb;
}
/*.home{*/
/*    background-color: #d3d3d3;*/
/*}*/


.hero {
    text-align: center;
    padding: 50px;
    background-color: #f4f4f4;
    height: 350px;
}

.hero h1 {
    font-size: 48px;
    margin-top: 100px;
}

.hero p {
    font-size: 18px;
    color: #555;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #ffe5e5;
    height: 330px;
}

.footer img {
    width: 300px;
    height: auto;
    margin-right: 20px;
}

.footer .text {
    font-size: 18px;
    font-weight: bold;
}
img{
    width: 100px;
}